/* All Grids */
.grid > div {
  background-color: #eee;
  padding: 1em;
  margin: 2px;
  border: 1px red solid;
}
.grid > div:nth-child(odd) {
  background-color: #a0a0a0;
}

/* First Div */

.grid-one {
  display: grid;
  grid-template-columns: 70% 30%;
  /* column-gap: 1em;
  row-gap: 2em; */
  gap: 0.5em;
}

/* Second Div */
