* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  text-align: center;
}

header {
  width: 85%;
  margin: auto;
  border: 10px solid rgb(144, 7, 255);
  background-color: rgb(112, 219, 255);
}

section {
  height: 400px;
  padding: 1rem;
  width: 80%;
  margin: 2rem auto;
  border: 10px solid black;
}

div {
  margin: auto;
  padding: 50px;
  width: 5%;
  text-align: center;
}

/* .static {
    DEFAULT
} */

.relative {
  position: relative;
  top: 50px;
  right: -25%;
}

/* With out parent being position: relative it will go off the BODY */
#sectionForAbsolute {
  position: relative;
}
#absolute {
  position: absolute;
  top: 18%;
  left: 95px;
  opacity: 0.2;
}

.fixed {
  position: fixed;
  right: 0;
  bottom: 0;
}
